html {
  background: pink;
  font-family: 'HelveticaNeue-Light', Arial, clean, sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  padding: 0;
    height: 100%;
}

body {
  padding: 0;
  margin: 0 auto;
    height: 100%;
}

.clear {
  clear:both;
}

.main {
  margin 0 auto;
  padding: 0;
  min-height: 1000px;
  background: pink;
}

h1 {
  font-weight: normal;
  font-size: 36pt;
  margin: 50px 0;
}

h2 {
  background: #FFFFFF;
  padding: 15px 0 19px;
  margin: 65px 0 60px;
}

h2#locations {
  margin-top: 50px;
  /*margin: 60px 0 25px;*/
}

#timer {
  width:1000px;
  height:200px;
  font-size: 39pt;
  padding: 30px 50px;
}

#timer span {
  color: #1DA0D1;
}

.schedule {
  width: 1000px;
  margin:0 auto;
}

.schedule li {
  float:left;
  width: 200px;
  list-style: none;
}

.schedule h2, h3 {
    margin: 10px;
    background: pink;
}

.schedule h2 {
    font-size: 32px;
    line-height: 48px;
}

.share {
  padding: 25px 0;
}

.logo {
  margin-top: 25px;
}

.slogan {
  font-size:24px;
  line-height: 25px;
  margin: 0 0 25px 0;
}

.slogan span {
  color: #1DA0D1;
}



#footer {
  text-align:center;
  background-color: black;
  height:250px;
  width:100%;
  bottom: 0;
}

#nav {
  width:750px;
  margin:0 auto;
}

#nav a {
  color:pink;
  float:left;
  font-family:'HelveticaNeue-Light', Arial ,clean,sans-serif;
  font-size:16px;
  font-weight: normal;
  text-decoration: none;
  /*border-right: 1px solid gray;  */
  line-height:100px;
  height:100%;
  width:142px;
  padding-left:0;
  display: block;
  border-right: 1px solid black;
}

#nav a:hover {
  background-color: #2AB0E2;
}
.copy {
  background: black;
  color: pink;
  font-size: 12px;
  padding: 20px 0;
  clear:both;
}

