/* TEMPORARY STYLES (TESTING) */

/* FIXES (IF NOT COVERED IN RESET) */

/* HTML4/XHTML TAG SPECIFIC */

body {
	background-color:#eff5ff;
	font-size:14px;
	font-family:Helvetica, Arial, sans-serif;
}

h1 {
	color:#bc6f30;
	padding-bottom:10px;
	font-size:18px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
}

h2 {
	color:#bc6f30;
	padding-bottom:10px;
	font-size:18px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

p {
	color:#33333;
	padding-bottom:10px;
}

a:link {
	color:#035e35;
	text-decoration: none;
}

a:visited {
	color:#035e35;
	text-decoration: none;
}

a:hover {
	color: #006600;
	text-decoration: underline;
}


/* <--HTML5 + CSS3--> */

/* <--GENERAL STYLES (FOR ALL PAGES)--> */

/* Header */

#header {
	z-index: 10;
	position: relative;
	height: 100%;
	margin-bottom:50px;
}

#head_top {
	z-index:10;
	position:relative;
	width:100%;
	height:11px;
	background-color:#034e5e;
	border-bottom:3px solid;
	border-color:#1e6e7f;
}

#head_center {
	z-index:5;
	position:relative;
	width:100%;
	height:109px;
	background-color:#c6e3e9;
	border-bottom:3px solid;
	border-color:#d0d5dd;
}

#head_content {
	top:-15px;
	z-index:5;
	position:relative;
	margin: 0 auto;
	height:100%;
	width:1000px;

}


/* Footer */

#footer {
	z-index: 10;
	position: relative;
	height: 200px;
	background-color: #034e5e;
	margin-top:30px;
}

/* Content */

#content {
	height: 1%; 
	overflow: hidden;
	margin: 0 auto;
	width:1000px;
	
}

#main_right {
	padding:10px;
	border:solid 2px;
	border-color:#CCC;
	z-index:15;
	float:right;
	width:651px;
	position:relative;
}

#main_left {
	padding:10px;
	border:solid 2px;
	border-color:#CCC;
	z-index:15;
	float:left;
	width:651px;
	position:relative;
}

#side_right {
	padding:10px;
	background-color:#e3e8f1;
	border:solid 2px;
	border-color:#d0d5dd;
	z-index:15;
	float:right;
	width:276px;
	position:relative;
	
}

#side_left {
	padding:10px;
	background-color:#e3e8f1;
	border:solid 2px;
	border-color:#d0d5dd;
	z-index:15;
	float:left;
	width:276px;
	position:relative;
	
}

/* USER PAGE STYLES */

/* ADMIN PAGE STYLES */
