html {
    background: url(../images/background.png) repeat;
    font-family:'Helvetica', Arial,clean,sans-serif;
    font-size:14px;
    line-height: 18px;
    font-color: #232323;
}

h2 {
    color:#232323;
    margin:0;
}


a {
    color:black;
}


body {
    margin:0;
    padding:0;
}

.address {
    border-bottom: 1px dotted gray;
}

#page {
    width:800px;
    margin:0 auto;
    background: white url(../images/page-bg.png) repeat-y right;
}


#page-header {
    margin: 0 auto;
    width:800px;
    height:35px;
    background: white url(../images/tl-corner.png) no-repeat;
}

#page-header-right {
    float:right;
}


#logo {
    background: white url(../images/page-bg.png) repeat-y right;
    width:800px;
    border: 0;
    margin-bottom:0;
    padding-bottom:0;
}

#headline {
    font-weight:bold;
    color: white;
    position:relative;
    bottom:25px;
    left:220px;
    font-variant:small-caps;


}

#nav a {
    color:white;
    float:left;
    font-weight: normal;
    text-decoration: none;
    border-right: 1px solid gray;
    line-height:40px;
    height:40px;
    width:100px;
    padding-left:20px;
    display: block;
}

#nav a:hover  {
     background-image:url(../images/bar-bg-b.png);
}

#nav a.current  {
     background-image:url(../images/bar-bg-b.png);
}

#nav a.home {
    width:130px;
}



#content {
    background: url(../images/page-bg.png) repeat-y right;
    min-height:1150px;
    width:700px;
    border:0;
    padding-top:0;
    padding-left:50px;
    padding-right:50px;

}


.sponsor img {
    max-width:600px;
}

#footer {
    display: block;
    width:800px;
    text-decoration: none;
    height:35px;
    text-align: center;
    background-image:url(../images/footer-bg.png)
}

#footer p {
    color: white;
    font-size: 13px;
    font-variant: small-caps;
    font-weight: bold;
    height: 20px;
    position: relative;
    top: 8px;
}


#footer a {
    color:#f0f0f0;
}
label.error {
    display:block;
    font-size:11px;
    text-align:center;
    color:orange;
}

#tagcloud {
    float:left;
    width:800px;
    color:#bbbbbb;
    padding-bottom:100px;
    margin-top:20px;
}

/*Image styles*/
#xcode {
    float:right;
    height:380px;
    padding: 0 0 10px 10px;
}

#appstore {
    float:left;
    width:auto;
    margin:0
}

#cloud-bg {

}

#featuredSpeakers {
    clear:both;
    background-image: url(../images/tagcloud.png);
    height:100px;
}

#featuredSpeakers h2 {
    margin-left:50px;
}

div.featured {
    float:left;
    padding-right:10px;
    width:160px;
    font-size:11px
}


.clear {
    clear:both;
}

#glossy-box {
    background-color: #dedddd;
    padding:10px 10px 15px 25px;
    font-size:14px;
    margin-top:0; clear:left;
    width:320px;
    border: 1px solid gray;
}


#flashMessage {
    background-color: #86deff;
    padding:0 10px 0 10px;
    font-size:14px;
    margin-top: 15px;
    border: 1px solid gray;
}
