html {
    background: url(../images/background.png) repeat;
    font-family:"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size:14px;
    font-color: #232323;
}

#page {
    width:800px;
    margin:0 auto;
    background: white url(../images/page-bg.png) repeat-y right;
}


#page-header {
    margin: 0 auto;
    width:800px;
    height:35px;
    background: white url(../images/tl-corner.png) no-repeat;
}

#page-header-right {
    float:right;
}


#logo {
    background: white url(../images/page-bg.png) repeat-y right;
    width:800px;
    border: 0;
    margin-bottom:0;
    padding-bottom:0;
}

#headline {
    font-weight:bold;
    color: white;
    position:relative;
    bottom:25px;
    left:220px;
    font-variant:small-caps;


}

#content {
    background: url(../images/page-bg.png) repeat-y right;
    min-height:950px;
    width:700px;
    border:0;
    padding-top:0;
    padding-left:50px;
    padding-right:50px;

}

#footer {
    height:35px;
    background-image:url(../images/footer-bg.png)
}

#footer p {
    text-align:center;
    height:20px;
    color:white;
    font-weight:bold;
    font-variant:small-caps;
    font-size:13px;
    position:relative;
    bottom:190px
}

label.error {
    display:block;
    font-size:11px;
    text-align:center;
    color:orange;
}

#tagcloud {
    float:left;
    width:800px;
    color:#bbbbbb;
    padding-bottom:100px;
    margin-top:20px;
}

/*Image styles*/
#xcode {
    float:right;
    height:400px;
    padding: 10px 0 10px 10px;
}

#appstore {
    float:left;
    width:auto;
    margin:0
}

#cloud-bg {
    position:relative;
    bottom: 130px;
    left: 55px
}


.clear {
    clear:both;
}

#glossy-box {
    padding: 15px 10px 15px 15px;
    color:white; font-size:15px;
    margin-top:40px; clear:left;
    background: url(../images/box-bg.png) no-repeat;
    width:300px;
    height:200px;
}